.App {
  text-align: center;
}

.search {
  width: 400px;
  height: 30px;

  padding: 5px;

  border-radius: 10px;
  border: 1px solid gray;
}

.tips {
  width: 400px;
  height: 200px;

  margin: auto;
  margin-top: 5px;
  padding: 5px;

  border-radius: 10px;
  box-shadow: 0 0 10px -7px;
}
